<div class="product-card">
  <!-- Imagen del producto -->
  <div class="product-card__thumbnail">
    <img class="product-card__image" src="https://m.media-amazon.com/images/I/41tbwY209wL.jpg" alt="Epson ECOTANK ET-14100 A3 SMALL AIO">
  </div>

  <!-- Contenido del producto -->
  <div class="product-card__details">
    <h2 class="product-card__title">Epson ECOTANK ET-14100 A3 SMALL AIO</h2>
    <div class="product-card__description">
      <p>Di adiós a los cartuchos: con un sistema de depósito de tinta...</p>
      <p>Siga ahorrando - Aproveche las ventajas de las impresiones de bajo...</p>
      <p>Fácil de usar y fiable - Este modelo es ideal si los usuarios buscan...</p>
      <p>Imprima desde casi cualquier lugar - Es fácil imprimir desde...</p>
    </div>
    <div class="product-card__footer">
      <button class="product-card__button">Precio más barato</button>
    </div>
  </div>
</div>
