.custom-highlight {
  background-color: #297948; /* Color de fondo */
  border: 2px solid #297948; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 1px; /* Espaciado interno */
}
