.card {
  display: block;
  color: inherit;
  background-color: #fafafab2; /* Fondo blanco para la tarjeta */
  border: 1px solid #f1f1f1; /* Borde sutil */
  border-radius: 0.5rem; /* Bordes redondeados */
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  margin-bottom: 1rem; /* Margen inferior para separación */

}

.card:hover {
  text-decoration: none;
  box-shadow: 1 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  background-color: #ffffff; /* Color de fondo agradable al hacer hover */
}

.card-body {
  cursor: pointer;
}

.card-title {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem; /* Tamaño de fuente más grande */
  margin-bottom: 1rem;
}

.list-unstyled a {
  display: block;
  padding: 0.5rem 0;
  color: inherit;
  transition: color 0.3s;
}

.list-unstyled a:hover {
  color: #007bff; /* Color de enlace al pasar el mouse */
}

.list-unstyled i {
  margin-right: 0.2rem; /* Espacio entre el icono y el texto */
}


/* mantenimiento-opciones.component.css */
.skeleton-title,
.skeleton-text,
.skeleton-icon {
  background: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-title {
  width: 60%;
  height: 20px;
  margin: 10px 0;
}

.skeleton-text {
  width: 100%;
  height: 15px;
  margin: 10px 0;
}

.skeleton-icon {
  width: 40px;
  height: 40px;
  margin: 10px 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
