<div class="container mat-elevation-z2">

  <form [formGroup]="formEmpleado" class="example-form" (ngSubmit)="enviarFormCarry()">
    <h2>Crear Empleado</h2>
    <div class="flex">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="nombreCompleto">
      </mat-form-field>
</div>
<div class="flex">
      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo">
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="example-full-widtheste">
        <mat-label>$Sueldo</mat-label>
        <input matInput formControlName="sueldo" >
      </mat-form-field>
</div>
<!-- <div class="flex">
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Contrato</mat-label>
        <input matInput formControlName="fechaContrato">
      </mat-form-field>
    </div> -->
    <div class="flex">
      <mat-form-field>
        <mat-label>Fecha Contrato</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaContrato">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
      <div class="flex">
        <button mat-flat-button color="primary" (click)="guardarEmpleado()">Guardar</button>
        <button mat-flat-button color="warn" style="margin-left:8px" (click)="volver()">Volver</button>
      </div>

  </form>

</div>
